/* Rutger van Heijningen
10272224
Data Processing, week 4
scatter.js  */

<style>
.axis text {
  font-family: sans-serif;
  font-size: 11px;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}
</style>
